.header {
  background-color: rgba(0, 0, 0, 0.5); /* Gradiente semitransparente */
  background-blend-mode: overlay; /* Mezcla de colores */
  background-image: url('/src/assets/img/Header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.header-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-description {
  font-size: 18px;
  color: #ccc;
}

.header-main {
  background-image: url('../../assets/img/Header.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 5rem 1rem;
}

.header-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.header-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.header-content hr {
    width: 50%;
    margin: auto;
}